.preloader-box {
  background-color: rgba(108, 117, 125, 0.26);
  position: relative;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: span($columnCountDefault / 2);
    height: rhythm($fullScreenRows / 2);
  }
}